# Load Data

In [1]:
import flameai as fl

In [2]:
FILE_PATH = '../data'
CSV_FILE = 'student.csv'

In [3]:
file_path = fl.gen_abspath(FILE_PATH, CSV_FILE)
df = fl.read_csv(file_path,
                 sep='\t',
                 index_col='time',
                 parse_dates=['time'],
                 date_format='%Y-%m-%d %H:%M:%S')
df

                              name  score  age
time
2023-12-16 17:23:00     John Smith   99.5   18
2023-12-16 17:24:00  Emily Johnson   83.0   23
2023-12-16 17:25:00  Michael Brown   55.0   23